body{
  font-family: Arial;
  margin:0;
  background:#f2f2f2;
}

header{
  background:#222;
  color:white;
  padding:15px;
  text-align:center;
}

.container{
  width:90%;
  max-width:900px;
  margin:20px auto;
}

.blog{
  background:white;
  padding:15px;
  margin-bottom:10px;
  border-radius:8px;
}

.blog h2{
  margin:0 0 10px;
}

.blog p{
  color:#444;
}

.add-btn{
  background:#0078ff;
  color:white;
  border:none;
  padding:10px 15px;
  border-radius:6px;
  cursor:pointer;
}

#formBox{
  display:none;
  background:white;
  padding:15px;
  border-radius:8px;
  margin-bottom:10px;
}

input,textarea{
  width:100%;
  padding:10px;
  margin-top:5px;
  border-radius:5px;
  border:1px solid #ccc;
}

.save{
  background:green;
  color:white;
  padding:10px 15px;
  border:none;
  border-radius:6px;
  cursor:pointer;
}

.cancel{
  background:red;
  color:white;
  padding:10px 15px;
  border:none;
  border-radius:6px;
  cursor:pointer;
}

.footer{
  text-align:center;
  padding:20px;
  color:#555;
}